# Python
__pycache__/
*.py[cod]
.venv/
venv/
build/
dist/

# OS & Editer Junk
.DS_Store
Thumbs.db
.vscode/

# Secrets
.env
.env.*
*.pem
*.key
*.p12
*.crt
id_*
.ssh/

.ssh/
id_*
*.pem
*.key
*.ppk
.env
