playwright >= 1.46
trafilatura >= 1.8

urllib3<2

fastapi >= 0.115
uvicorn[standard] >= 0.30
pydantic >= 2.7

python-json-logger>=2.0.7

sentence-transformers>=2.6.1
scikit-learn>=1.4
joblib>=1.3
numpy>=1.26
regex>=2024.4.16

spacy>=3.7,<3.8
